{% extends 'base.html' %}
    
{% block content %}
    <center>
        <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    </center>
        <h2>Terdiri dari</h2>
        <h2>1. Pendidikan Non Formal</h2>        
        <h2>2. Pendidikan Bahasa Indonesia</h2>
        <h2>3. Pendidikan Bahasa Inggris</h2>
        <h2>4. Pendidikan Biologi</h2>
        <h2>5. Pendidikan Matematika</h2>
        <h2>6. Pendidikan Guru Sekolah Dasar</h2>
        <h2>7. Pendidikan PGPAUD</h2>
        <h2>8. Pendidikan BK</h2>
        <h2>9. Pendidikan Fisika</h2>
        <h2>10. Pendidikan IPA</h2>
        <h2>11. Pendidikan Kimia<h2>
        <h2>12. Pendidikan Khusus</h2>
        <h2>13. Pendidikan Kewarganegaraan</h2>
        <h2>14. Pendidikan Sejarah</h2>
        <h2>15. Pendidikan Seni</h2>
        <h2>16. Pendidikan Sosiologi</h2>
        <h2>17. Pendidikan Veteran Teknik Elektro</h2>
        <h2>18. Pendidikan Teknik Mesin</h2>

{% endblock %}
















